<%- include('../../header', { title: 'Test Css' }) %>

<link rel="stylesheet" href="./testCss/style.css">

<div class="container">
  <div class="cssbattle">
    <p class="b c v un"></p>
    <p class="b c j"></p>
    <p class="b c m troie"></p>
    <p class="b t m quatre"></p>
    <p class="b t m cinque"></p>
  </div>
</div>

<%- include('../../footer') %>