<%- include('../../header', { title: 'All config' }) %>

<link rel="stylesheet" href="./util/Treant.css">
<link rel="stylesheet" href="./allConfig/style.css">
<script src="./util/vendor/raphael.js"></script>
<script src="./util/Treant.js"></script>

<main class="container">
  <p>All config</p>
  <div class="tree-container" id="tree-simple"></div>
</main>

<script src="./allConfig/script.js"></script>
<%- include('../../footer') %>